<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% include head.html %}
	<body>
	    <!-- Google Tag Manager -->
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=GTM-TQXXF7"
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({
					'gtm.start':
					new Date().getTime(), event: 'gtm.js'
				}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-TQXXF7');</script>
		<!-- End Google Tag Manager -->
		<div id="container">
			<div id="side">
				<a href="/" id="home" title="Kb" alt="Kb">Kb</a>
				<div id="hometext"><a href="/" >Kb</a></div>
				<div class="section">
					<ul>
						<li><a href="/Siigaa.html">西瓜跟踪<br/>Siigaa Tracker</a></li>
						<li>&nbsp;</li>
						<li><a href="/rss.xml"><img src="/img/25.png" /> feed</a></li>
					</ul>
				</div>
			</div>
			<div id="content">
				{{content}}
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>